aiohttp
azure-ai-language-conversations
azure-core
azure-identity
azure-keyvault-secrets
botbuilder-core
botbuilder-integration-aiohttp
flask
pyjwt
pytest
pytest-asyncio
python-decouple
python-dotenv
quart
requests
